defaults:
  - env/realworld_bin_relocation@env.eval
  - override hydra/job_logging: stdout

hydra:
  run:
    dir: .
  output_subdir: null
  searchpath:
    - file://${oc.env:EMBODIED_PATH}/config/

cluster:
  num_nodes: 1
  component_placement:
    env:
      node_group: franka
      placement: 0
  node_groups:
    - label: franka
      node_ranks: 0
      hardware:
        type: Franka
        configs:
          - robot_ip: 172.16.0.2
            node_rank: 0
            # camera_serials: ["213622078826"]  # wist "233622071437"

runner:
  task_type: embodied
  logger:
    log_path: null
    project_name: rlinf
    experiment_name: "collect-data"
    logger_backends: ["tensorboard"] # wandb, swanlab
  num_data_episodes: 20
  record_task_description: False

env:
  group_name: "EnvGroup"
  eval:
    no_gripper: False
    ignore_terminations: False
    auto_reset: False
    keyboard_reward_wrapper: "single_stage" # options: "single_stage", "multi_stage"
    use_spacemouse: True
    override_cfg:
      target_ee_pose: [0.564, 0.045, 0.05, -3.14, 0.0, 0.0]